body{
    margin:0;
    padding: 0;
    background-image: url('../img/sven-mieke-MsCgmHuirDo-unsplash.jpg'); 
    background-size: cover;
    background-attachment: fixed; 
}
.left{
    display: inline-block;
    /*border: solid 2px red;*/
    position: absolute;
    left: 34px;
    top: 25px;
}
.left img{
    width: 136px;
    /*filter:brightness(50%);*/
}
.left h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style:italic;
    color: #fff;
    text-align:center;
    margin-top: -14px;

}
.mid{
    display: block;
    width: 36%;
    margin: 25px auto;
    /*border: solid 2px green*/;    
}
.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    font-size: 25px;
}

.navbar li a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 15px;
}
.navbar li a:hover,.navbar li a.active{
    color: coral;
    text-decoration: underline;
}
.right{
    position: absolute;
    display:inline-block;
    right: 34px;
    top: 25px;
    /*border: solid 2px yellow;*/
    
}
.btn{
    margin: 10px 9px;
    background-color: black;
    color: #fff;
    padding: 7px 20px;
    font-size: 18px;
    border-radius: 100px;
    cursor: pointer;
}
.btn:hover{
    background-color: coral;
}
.container{
    border: 2px solid #fff;
    margin: 87px 80px;
    padding: 69px;
    width: 33%;
    border-radius: 28px;
}
.form-group input{
    text-align: center;
    font-size: 19px;
    display: block;
    width: 333px;
    padding: 6px;
    border: 5px solid black;
    margin: 6px auto;
    border-radius: 28px;
}
.container h1{
    text-align: center;
    color: #fff;
}
.container button{
    display: block;
    width: 70%;
    margin: auto;
}